.seas-team {
  h2 {
    @include h2-title;
  }
  .team-card-group {
    padding: 0 208px;
    margin: 0 auto;
    @include d-flex-center-y-b-x;
    @media only screen and (max-width: 479px) {
      padding: 0 !important;
    }
    .team-card-item {
      padding: 20px 20px;
      transition: transform 0.2s ease;
      img {
        width: 100%;
        height: auto;
      }
      h3 {
        @include text-font-14-24;
        color: $semiblack;
        font-weight: 700;
        margin: 9px 0 0;
      }
      p {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: $semiblack;
        @include work-sans;
        margin: 0 0 23px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 12px rgba(0, 66, 101, 0.2);
        border-radius: 10px;
        transform: scale(1.05);
      }
    }
  }
}
.seas-chart {
  h2 {
    @include h2-title;
    text-transform: uppercase;
  }
  .chart-board {
    height: 1100px;
    position: relative;
    .center-circle {
      width: 225px;
      height: 225px;
      border-radius: 50%;
      background-color: $blue;
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      @include d-flex-center-xy;
      h3 {
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
      .circle-info {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 675px;
        height: 311px;
        left: 50px;
        top: -275px;
        background: $white;
        border-radius: 40px 0px;
        box-shadow: 0px 4px 12px rgba(0, 66, 101, 0.2);
        padding: 24px;
        transition: all 0.5s ease;
        &:hover {
          opacity: 0;
        }
        img {
          width: 100%;
          height: 100%;
        }
        h4,
        p {
          color: $semiblack;
          margin-left: 32px;
        }
        h4 {
          margin-top: 80px;
        }
      }
      &:hover {
        cursor: pointer;
        // .circle-info {
        //     opacity: 1;
        //     top: -225px;
        //     visibility: visible;
        // }
        + .circle-decor-border {
          border: 0.2rem solid #fff;
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #87d5ff,
            0 0 0.8rem #87d5ff, 0 0 1rem #87d5ff, inset 0 0 1rem #87d5ff;
        }
      }
    }
    .circle-decor-solid {
      width: 252px;
      height: 252px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: #87d5ff;
      opacity: 0.4;
      .line-item-1 {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        width: 100px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-2 {
        position: absolute;
        top: 70px;
        left: 0;
        transform: translateX(-50%) rotate(25deg);
        width: 100px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-3 {
        position: absolute;
        top: 140px;
        right: -100px;
        transform: translateX(-50%) rotate(10deg);
        width: 100px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-4 {
        position: absolute;
        bottom: -10px;
        left: 20px;
        transform: translateX(-50%) rotate(-50deg);
        width: 100px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
    }
    .circle-decor-border {
      width: 266px;
      height: 266px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border: 1px solid #87d5ff;
      transition: all 0.2s ease;
    }
    .circle-form-tier-1 {
      border-radius: 50%;
      @include d-flex-center-xy;
      text-align: center;
      transform: translateZ(10px);
      background-color: $blue;
      h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $lightblue;
      }
    }
    .circle-form-tier-2 {
      border-radius: 50%;
      background-color: #87d5ff;
      color: $darkblue;
      @include d-flex-center-xy;
      text-align: center;
      h5 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .dot-para {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: $darkblue;
        text-align: left;
    }
    .circle-chief {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 250px;
      width: 129px;
      height: 129px;
      z-index: 5;
      .item-1 {
        position: absolute;
        width: 143px;
        height: 143px;
        left: -150px;
        top: -120px;
      }
      .item-2 {
        position: absolute;
        width: 127px;
        height: 127px;
        left: 0;
        top: -170px;
      }
      .item-3 {
        position: absolute;
        width: 127px;
        height: 127px;
        right: -150px;
        top: -120px;
      }
      .dot-item-1 {
        position: absolute;
        left: -180px;
        top: -130px;
        width: 24px;
        height: 24px;
        color: $blue;
        p {
            position: absolute;
            left: -30px;
            top: -80px;
        }
      }
      .dot-item-2 {
        position: absolute;
        left: 57px;
        top: -220px;
        width: 14px;
        height: 14px;
        color: $blue;
        p {
            position: absolute;
            left: -30px;
            top: -60px;
        }
      }
      .dot-item-3 {
        position: absolute;
        left: 300px;
        top: -153px;
        width: 8px;
        height: 8px;
        color: $blue;
        p {
            position: absolute;
            left: -30px;
            top: -40px;
        }
      }
    }
    .circle-chief-line {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 250px;
      z-index: -1;
      opacity: 0.4;
      .line-item-1 {
        position: absolute;
        top: -100px;
        left: -115px;
        transform: rotate(90deg);
        border: 1px solid #87d5ff;
        width: 230px;
        height: 0px;
      }
      .line-item-2 {
        position: absolute;
        top: -30px;
        left: -250px;
        transform: rotate(40deg);
        width: 240px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-3 {
        position: absolute;
        top: -50px;
        right: -280px;
        transform: rotate(135deg);
        width: 280px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
    }
    .circle-head {
      position: absolute;
      left: 32%;
      transform: translateX(-50%);
      top: 380px;
      width: 151px;
      height: 151px;
      z-index: 5;
      .item-1 {
        position: absolute;
        width: 127px;
        height: 127px;
        left: -100px;
        top: -120px;
      }
      .item-2 {
        position: absolute;
        width: 127px;
        height: 127px;
        left: -180px;
        top: 20;
      }
      .item-3 {
        position: absolute;
        width: 147px;
        height: 147px;
        left: -100px;
        bottom: -140px;
      }
      .dot-item-1 {
        position: absolute;
        left: -110px;
        top: -130px;
        width: 15px;
        height: 15px;
        color: $blue;
        p {
            position: absolute;
            left: -30px;
            top: -60px;
        }
      }
      .dot-item-2 {
        position: absolute;
        left: -220px;
        top: 70px;
        width: 19px;
        height: 19px;
        color: $blue;
        p {
            position: absolute;
            left: -100px;
            top: -15px;
        }
      }
      .dot-item-3 {
        position: absolute;
        left: -110px;
        top: 293px;
        width: 19px;
        height: 19px;
        color: $blue;
        p {
            position: absolute;
            left: -110px;
            top: -15px;
        }
      }
    }
    .circle-head-line {
      position: absolute;
      left: 32%;
      transform: translateX(-50%);
      top: 380px;
      z-index: -1;
      opacity: 0.4;
      .line-item-1 {
        position: absolute;
        top: 80px;
        left: -280px;
        transform: rotate(0deg);
        border: 1px solid #87d5ff;
        width: 230px;
        height: 0px;
      }
      .line-item-2 {
        position: absolute;
        top: -40px;
        left: -210px;
        transform: rotate(45deg);
        width: 230px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-3 {
        position: absolute;
        top: 220px;
        right: -10px;
        transform: rotate(130deg);
        width: 230px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
    }
    .circle-HR {
      position: absolute;
      left: 38%;
      transform: translateX(-50%);
      bottom: 270px;
      width: 147px;
      height: 147px;
      z-index: 5;
      .item-1 {
        position: absolute;
        width: 107px;
        height: 107px;
        left: -130px;
        bottom: -50px;
      }
      .item-2 {
        position: absolute;
        width: 93px;
        height: 93px;
        right: -50px;
        bottom: -120px;
      }
      .dot-item-1 {
        position: absolute;
        left: -170px;
        top: 182px;
        width: 11px;
        height: 11px;
        color: $blue;
        p {
            position: absolute;
            left: -110px;
            top: -15px;
        }
      }
      .dot-item-2 {
        position: absolute;
        left: 190px;
        top: 300px;
        width: 19px;;
        height: 19px;
        color: $blue;
        p {
            position: absolute;
            left: -30px;
            top: 25px;
            width: 82px;
        }
      }
    }
    .circle-HR-line {
      position: absolute;
      left: 38%;
      transform: translateX(-50%);
      bottom: 270px;
      z-index: -1;
      opacity: 0.4;
      .line-item-1 {
        position: absolute;
        top: 30px;
        left: -90px;
        transform: rotate(60deg);
        border: 1px solid #87d5ff;
        width: 280px;
        height: 0px;
      }
      .line-item-2 {
        position: absolute;
        top: -20px;
        left: -250px;
        transform: rotate(155deg);
        width: 280px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
    }
    .circle-commercial {
      position: absolute;
      left: 68%;
      transform: translateX(-50%);
      bottom: 455px;
      width: 122px;
      height: 122px;
      z-index: 5;
      .item-1 {
        position: absolute;
        width: 136px;
        height: 136px;
        right: -80px;
        top: -220px;
      }
      .item-2 {
        position: absolute;
        width: 127px;
        height: 127px;
        right: -180px;
        top: -50px;
      }
      .item-3 {
        position: absolute;
        width: 107px;
        height: 107px;
        right: -120px;
        bottom: -120px;
      }
      .item-4 {
        position: absolute;
        width: 127px;
        height: 127px;
        left: -40px;
        bottom: -220px;
      }
      .dot-item-1 {
        position: absolute;
        left: 0;
        top: 360px;
        width: 18px;
        height: 18px;
        color: $blue;
        p {
            position: absolute;
            left: 30px;
            top: -15px;
        }
      }
      .dot-item-2 {
        position: absolute;
        left: 250px;
        top: 240px;
        width: 11px;;
        height: 11px;
        color: $blue;
        p {
            position: absolute;
            left: 30px;
            top: -15px;
        }
      }
      .dot-item-3 {
        position: absolute;
        left: 350px;
        top: -33px;
        width: 16px;
        height: 16px;
        color: $blue;
        p {
            position: absolute;
            left: 30px;
            top: -15px;
        }
      }
      .dot-item-4 {
        position: absolute;
        left: 160px;
        top: -260px;
        width: 22px;
        height: 22px;
        color: $blue;
        p {
            position: absolute;
            left: 30px;
            top: -15px;
        }
      }
    }
    .circle-commercial-line {
      position: absolute;
      left: 68%;
      transform: translateX(-50%);
      bottom: 455px;
      z-index: -1;
      opacity: 0.4;
      .line-item-1 {
        position: absolute;
        top: -200px;
        left: -140px;
        transform: rotate(110deg);
        border: 1px solid #87d5ff;
        width: 370px;
        height: 0px;
      }
      .line-item-2 {
        position: absolute;
        top: -100px;
        left: 20px;
        transform: rotate(160deg);
        width: 280px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      .line-item-3 {
        position: absolute;
        top: 30px;
        left: -40px;
        transform: rotate(45deg);
        border: 1px solid #87d5ff;
        width: 280px;
        height: 0px;
      }
      .line-item-4 {
        position: absolute;
        top: 110px;
        right: -110px;
        transform: rotate(100deg);
        width: 280px;
        height: 0px;
        border: 1px solid #87d5ff;
      }
      
    }
  }
}
